#cont {
    display: flex;
    flex-wrap: wrap;
}

#bio-content {
    justify-content: center;
}

.picture {
    max-height: 210px;
    min-height: 210px;
    max-width: 230px;
    min-width: 230px;
    height: inherit;
    width: inherit;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#bio .resumeDiv > * {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;    
}

#bio-details .resumeDiv p {
    color: black;
    padding-top: 7px;
}

#bio {
    width: auto;
    clear: both;
}

#bio-details .resumeDiv, #check-div {
    justify-content: center;
}

#bio-details, #bio-details .resumeDiv {
    display: flex;
    flex-direction: row;
}

#check-text {
    margin-right: 4px;
    color: #3E3F3A;
}
@media only screen and (max-width: 768px) {
    
    .resumeDiv {
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {

    #bio-details {
        padding-left: 30px;    
        padding-right: 30px;
    }
    
}

@media only screen and (max-width: 992px) {
    #bio-details {
        flex-direction: column;
        text-align: center;
    }

    .picture {
        margin-bottom: 10px;
    }
}

/* @media only screen and (max-width: 992px) {
    .picture{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
} */
/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .picture{
        transform: rotate(90deg);
    } 
}
