.projectScreenshot {
    height: 315px;
    border: black thin solid;
    border-radius: 20px;
    margin-bottom: 4px;
}

#projectsDiv  {
    text-align: center;
}

#projectDiv h2 {
    text-decoration: underline;
}