/* #content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#content-header h2 {
    margin: 0;
    width: auto;
    overflow: hidden;
}

#content-header div {
    width: auto;
    padding-right: 2%;
    padding-left: 2%;
}

#content-header button {
    line-height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 300%;
    outline: none;
    margin: 0;
}